@model Category // Specifies the model type for this view

<form method="post" asp-action="DeletePOST">
    <!-- Hidden input field for the category Id -->
    <input asp-for="Id" hidden>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Delete Category
            </h2>
        </div>
        <!-- Input field for the category Name, disabled to prevent user input -->
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <!-- Input field for the category DisplayOrder, disabled to prevent user input -->
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <!-- Button to submit the form for category deletion -->
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <!-- Link to navigate back to the category list -->
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        // Include the validation scripts partial
    }
}
