@{
    ViewData["Title"] = "Home Page"; // Setting the title for the view
}

<div class="text-center" style="margin: 10%">
    <h1 class="display-4">Welcome to BulkyBooks</h1>
    <p>A simple .NET MVC Core web app to perfrom CRUD operations on Books.</p>
</div>
